.product-card {
    border-radius: 12px;
    overflow: hidden;
    transition: all .25s ease;
}

::deep .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,.15) !important;
}

.product-title {
    font-weight: 700;
    color: #4E342E;
}

.product-description {
    color: #777;
    min-height: 45px;
}

.price {
    color: #B67A42;
    font-size: 22px;
    font-weight: bold;
}

.rating {
    color: #E6A700;
    font-weight: 600;
}

.mud-card-media {
    object-fit: cover;
}
.product-image {
    object-fit: cover;
    width: 100%;
}
