@inject NavigationManager Navigation

<section class="hero">

    <div class="hero-overlay">

        <span class="hero-badge">
            Welcome to Commerce Shop
        </span>

        <h1>
            Shop Smarter,<br />
            Live Better.
        </h1>

        <p>
            Discover quality products, browse categories,
            and enjoy a smooth shopping experience all in one place.
        </p>

        <MudButton Variant="Variant.Filled"
                   Class="hero-btn"
                   Size="Size.Large"
                   OnClick="GoProducts">

            Explore Products

        </MudButton>

    </div>

</section>

@code
{
    private void GoProducts()
    {
        Navigation.NavigateTo("/products");
    }
}